@model IEnumerable<User>
@{
    ViewData["Title"] = "Home Page - USERS";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLastName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLastName)
                </td>
            </tr>
        }
    </tbody>
</table>